---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About Me" description="Lorem ipsum dolor sit amet">
  <p class="text-2xl text-black dark:text-white">Projects</p>
</MainLayout>
