---
---

<header class="flex justify-center items-center gap-8 lg:gap-16 mt-6">
  <div>
    <h1 class="text-xl md:text-3xl font-medium">Ravi Kumar Chopra</h1>
    <h3 class="text-base md:text-xl text-gray-600">Web Developer from India</h3>
  </div>
  <div class="">
    <img src="https://picsum.photos/300/300" class="rounded-xl" />
  </div>
</header>
