---
import GrannyButton from "./GrannyButton.astro";
---

<ul>
  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer">twitter</a>
  </li>
  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer">github</a>
  </li>
  <li>
    <a href="http://" target="_blank" rel="noopener noreferrer">codepen</a>
  </li>
  <!-- <GrannyButton title="test" /> -->
</ul>
<style>
  ul {
    display: flex;
    gap: 20px;
  }
  li {
    list-style: none;
  }
  li:nth-child(1) {
    border-bottom: 2px solid lightsalmon;
  }
  li:nth-child(2) {
    border-bottom: 2px solid lightgreen;
  }
  li:nth-child(3) {
    border-bottom: 2px solid yellowgreen;
  }
</style>
