---
const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "TypeScript",
  "Svelte",
  "Nodejs",
];
---

<section class="mt-10">
  <h2 class="text-xl">Skills</h2>
  <ul class="flex flex-wrap">
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</section>

<style>
  ul {
    display: flex;
    gap: 20px;
  }
  li {
    list-style: none;
    padding: 2px 8px;
    /* border: 2px solid crimson; */
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.8);
  }
  /* li:hover {
      border-bottom: 2px solid lightgreen;
    } */
</style>
