---
import BaseHead from "../components/BaseHead.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-white dark:bg-black">
    <main class="max-w-screen-lg mx-auto px-4 md:px-8 py-12 md:py-24">
      <slot />
    </main>
  </body>
</html>
